.front > h1 {
  font-family: Soria;
}

.front {
  padding: 2rem;
  margin-top: 3vh;
  background-color: yellow;
}

.photo {
  border: 3px red solid;
  background-color: blueviolet;
}

h1 {
  border: 3px red solid;
  background-color: blue;
}

h2 {
  border: 3px red solid;
  background-color: blue;
  /* display: inline-block;
  border-radius: 35px;
  width: 300px;
  height: 50px;
  background-color: #fdf7f7;
  border: 3px solid #182739;
  font-family: Soria; */
}

.about {
  border: 3px red solid;
  background-color: aqua;
}
