.about {
  text-align: center;
  display: inline-block;
  border-radius: 35px;
  width: 50rem;
  height: 10rem;
  background-color: #fdf7f7;
  box-shadow: 10px 10px 0 0 #182739, 0 0 0 5px #182739;
  padding: 1rem;
  margin: 2rem;
}
