.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.skill-item {
  margin: 0.7rem;
}

@media (max-width: 600px) {
  .skills-container {
    width: 100%;
    margin-bottom: 1rem;
  }
  .skill-item {
    margin-top: -0.5rem;
    margin-bottom: 0.1rem;
  }
}
