.contact {
  text-align: center;
  border-radius: 35px;
  width: 30rem;
  height: 6rem;
  background-color: var(--white);
  box-shadow: 10px 10px 0 0 #182739, 0 0 0 5px #182739;
  margin-bottom: 1rem;
  position: relative;
}

.socials {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.socials > a {
  color: #f69838;
  text-decoration: none;
  margin: 0 10px;
  font-size: 35px;
  transition: color 1s ease;
}

.socials > a:hover {
  color: #182739;
  transition: color 0.5s ease;
}

.contact-info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.contact > p {
  color: #182739;
  font-size: 14px;
  padding-top: 0.7rem;
}

.contact-me > a {
  font-family: Soria;
  font-size: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: color 1s ease;
  color: #f69838;
  margin-left: 1rem;
}

.contact-me > a:hover {
  color: #182739;
  transition: color 0.5s ease;
}

#contact-star {
  position: absolute;
  top: -3.5rem;
  right: -4rem;
  width: 10rem;
  z-index: -1;
}

@media (max-width: 600px) {
  .contact {
    width: 90vw;
    height: 5rem;
    position: relative;
  }

  .socials {
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }

  .socials > a {
    margin: 0 4px;
    font-size: 24px;
  }

  .contact > p {
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 8px;
  }

  .contact-me > a {
    font-size: 34px;
  }

  .contact-me {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-me > * {
    display: inline-block;
    margin: 0;
  }
}
