header {
  position: sticky;
  top: 2rem;
  z-index: 99999;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4rem;
  padding: 10px;
  box-sizing: border-box;
  border: 3px solid #182739;
  border-radius: 35px;
  background-color: white;
  letter-spacing: 2px;
  font-weight: bold;
}

@media (max-width: 1120px) {
  header {
    top: 1rem;
    padding: 5px;
  }
  .header {
    height: 3.5rem;
    padding: 8px;
  }
}

@media (max-width: 882px) {
  .header {
    height: 3rem;
    padding: 0px;
  }
}
