.header {
  position: sticky;
  top: 2rem;
  z-index: 99999;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border: 3px solid #182739;
  letter-spacing: 2px;
  font-weight: bold;
  width: 70%;
  height: 5rem;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}
