.nav-container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Soria;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
}

.link-nav {
  text-decoration: none;
  color: var(--shadow);
  font-size: 1.5rem;
  margin-right: 6rem;
  flex-grow: 1;
}

.download {
  position: absolute;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column; /* Cambiar a diseño de columna en dispositivos pequeños */
    border: none; /* Eliminar el borde en dispositivos pequeños */
  }

  .link-nav {
    margin: 0.5rem 0; /* Ajustar el margen en dispositivos pequeños */
  }
}
