.download {
  width: 2rem;
}

.nav-container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.nav-links {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  text-decoration: none;
}

.homeButton > img {
  width: 40px;
  background-color: #f69838;
  border-start-start-radius: 35px;
  border-end-start-radius: 35px;
}
