.download {
  width: 2rem;
}

.frontNav {
}

.frontNav > img {
  width: 40px;
  background-color: #f69838;
  border-start-start-radius: 35px;
  border-end-start-radius: 35px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-links {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

nav#nav > a {
  display: inline-block;
}
