.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Soria;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  position: relative;
  color: var(--shadow);
}

.love-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.confetti-container {
  position: relative;
  display: inline-block;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: Soria;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  position: relative;
}

.languageSelectorContainer {
  position: absolute;
  transform: translateY(-50%);
}
