.app {
  display: grid;
  grid-template-rows: 5rem 1fr 4rem;
  min-height: 100vh;
  overflow: hidden;
}

header {
  grid-row: 1;
}

main {
  margin: 6rem;
}

footer {
  grid-row: 3;
}

::selection {
  background-color: var(--orange);
  color: var(--white);
}
