* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  --orange: #f69838;
  --orangish: #feb2a6;
  --shadow: #182739;
  --shadowish: #33334f;
  --white: #fdf7f7;
  --green: #0f4e54;
  --back: #efe2db;

  background-color: #efe2db;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #fdf7f7 2px, transparent 1px),
    linear-gradient(to bottom, #fdf7f7 2px, transparent 1px);
}
