.space-invaders {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#space-invaders {
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
}

.instructions {
  font-size: 20px;
}

.instructions > span {
  font-weight: bold;
}

.restart-button {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  font-weight: 600;
  color: var(--shadow);
  text-decoration: none;
  border-radius: 35px;
  width: 8rem;
  height: 3rem;
  background-color: var(--white);
  box-shadow: 10px 10px 0 0 #182739, 0 0 0 5px #182739;
  transition: color 0.3s ease-in-out, scale 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 1rem;
}

.restart-button:hover {
  color: var(--orange);
  scale: 1.1;
}
