.aboutMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 80%;
  align-items: center;
  justify-items: center;
}

.about {
  grid-column: 1 / 2;
  margin-left: 40%;
  text-align: justify;
  padding: 0 20px;
  font-size: 1rem;
  line-height: 1.5;
}

.contact-box {
  grid-column: 2 / 3;
}

.about {
  margin-left: 20%;
  text-align: justify;
  padding: 0 20px;
  font-size: 1rem;
  line-height: 1.5;
}

.photosAbout {
  height: 50%;
}

.contact-box {
  height: 50%;
}
